.navbar {
  display: flex;
  background-color: #9C2A7B;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 10vh;
  color: white;
  position: fixed;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
  
  
}
.container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10vh;
  align-items: center;
  top: 10vh;
  
  height: 80vh;
  width: 100%;

 

  
}
.bloc{
 margin-top:10vh ;
  height: 80vh;
  width: 60vw;
  display: flex;
  box-shadow: -4px -4px 26px 1px rgba(0,0,0,0.44);
}
.img{
  background: url(./login-01.png);
  width: 50%;
    height: 80vh;
    background-size: cover;
    background-position: center;
  flex: 1;
  z-index: 2;
}
p{
  font-size: 14px;
}
.pass{
  color: #7256AE;
  cursor: pointer;
}
.forget{
  margin-top: 50px;
}
.icone{
  background-image: url('./head-01.png');
  width: 100px;
  height: 100px;
  background-size: cover;
    background-position: center;
}
.form{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
  
}
.content{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-form{
  
  color: white;
  font-size: 25px;

}
.form input{
  width: 350px;
  height: 25px;
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: rgb(228, 222, 222);
  color: black;
}
.btn {
  border-radius: 8px;
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid white;
  text-shadow: 0px 0px 0px transparent;
  background-color: #7256AE;
  width: 100px;
  height: 3em;
  color: white;
  cursor: pointer;
  margin-top: 2em;
}